<template name="slideOne">
  {{#StateModifier id="ourBasicStateModifierContainer"}}
    {{#Surface class="slide slide-red color-white"}}
      {{>slideOneContent}}
    {{/Surface}}

    {{#GridLayout size="[undefined,undefined]" dimensions="[3,3]"}}
        {{#Surface modifier="StateModifier" class="color-white"}}
            {{>animatedItem}}
        {{/Surface}}
        {{#Surface modifier="StateModifier" class="color-white"}}
            {{>animatedItem}}
        {{/Surface}}
        {{#Surface modifier="StateModifier" class="color-white"}}
            {{>animatedItem}}
        {{/Surface}}
        {{#famousEach textWords}}
          {{>Surface template="animatedItem" modifier="StateModifier"  class="color-white"}}
        {{/famousEach}}
    {{/GridLayout}}

  {{/StateModifier}}
</template>

<template name="slideOneContent">
  <p>First Slide with some animations.</p>

  <p><button id="next">Next</button></p>
</template>

<template name="animatedItem">
  <p>This is a box. {{name}}</p>
</template>